@keyframes glow {
    0% {
      text-shadow: 0 0 10px #ED6C02;
    }
    50% {
      text-shadow: 0 0 15px rgba(123, 123, 123, 0.9);
    }
    100% {
      text-shadow: 0 0 10px #3793FF;
    }
  }
  
.notFound_container {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.notFound_textContainer {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound_text {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    animation: glow 1.7s infinite alternate;
    color: white;
    margin-bottom: 2rem;
}

.notFound_buttonContainer {
    display: flex;
    width: 100%;
    justify-content: start;
}

.notFound_button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 1rem;
    background-color: #ED6C02;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.165);
    transition: 0.2s ease;
}

.notFound_button:hover {
    background-color: #3793FF;
    scale: 1.03;
}