.FilterTech {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 5px;
    background-color: rgb(69, 168, 255);
    width: 20%;
}
.subdiv_filter{
    margin: 5px;
    margin-bottom: 15px;
}
.input_price_filter{
    width: 85px;
}
.button_submit_filter{
    margin: 5px;
    background: #e9e9e9;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    transition: .3s;
}
.button_submit_filter:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px)
}
.button_submit_filter:active {
    transform: scale(1);
}
.div_button_filter{
    display: flex;
    width: 100%;
}