.CardTech {

    font-family: "Comic Sans MS", cursive;
    font-size: 15px;
    height: 300px;
    width: 250px;
    margin: 10px;
    background-color: rgba(224, 205, 92, 0.904);
    transition: transform 0.3s;
    border-radius: 7px;
}

.CardTech:hover {
    transform: scale(1.05);
}
.Img {
    max-width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.ImgContainer {
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}