.button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}