/* .mainRegister{
    height: 100%;
    display: flex;
    flex-direction: column;
justify-content: end;
    margin: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.mainRegister{
    /* background-color: rgb(245, 247, 255);
    padding: 3rem;
    color: rgb(221, 214, 204); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoRegister{
    width: 18rem;
}

.formLogin,
.formRegister{
    background-color: #fc6933;
    padding: 1rem;
   align-items: center;
   text-align: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.divInput{
    display: grid;
    padding: 0.5rem;    
}

.input{
    width: 80%;
    margin: 0 auto;
    height: 2rem;
}

.inputLogin{
    height: 3rem;
    width: 20rem;
}

.label{
    font-weight: 200;
    margin-bottom: 0.3rem;
    background-color: #3f3f3f;
    padding: 0.5rem;
}
.titleLogin{
    background-color: #fe703c;
    padding: 3rem;
    color: rgb(224, 202, 202);
}
.columnaLogin{
    margin: 0 auto;
}


.navRegister{
    background-color: #fafafa;
    padding: 3rem;
    justify-content: space-between;
    gap: 2rem;
    color: rgb(224, 202, 202);
}

.linksRegister{
   padding: 1rem;
   color: rgb(0, 0, 0);
}
.btnLogin,
.btnCreateAccount{
    background-color: rgb(0, 132, 255);
    color: aliceblue;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para el efecto hover */
}

.btnCreateAccount:hover {
    background-color: #c92121bf; /* Cambio de color en el hover */
    transform: scale(1.1); /* Agrandamiento en el hover */
  }